<extend name="Base/common"/>
<block name="css"><link href="__CSS__/index.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
    <div id="focus" class="banners" style="position: relative; visibility:hidden;">
        <div id="au" style="visibility:hidden;">
            <volist name="banner" id="b" key="k">
                <div <?php if ($k != 1): ?> style="display: none" <?php endif; ?>>
                    <a href="{$banner['link']}" target="_blank">
                        <img src="{:get_cover($b['cover_id'])['path']}" width="1439" height="463" alt="{$b['title']}" />
                    </a>
                </div>
            </volist>
            <div id="no" style="display: none">
            </div>
            <div class="lunbo">
                <table border="0" cellpadding="0" cellspacing="0" align="right">
                    <tr>
                        <td class='active' id="t0" onmouseover="Mea(0);clearAuto();" onmouseout="setAuto();"></td>
                        <td width="6">
                        </td><td class='bg' id="t1" onmouseover="Mea(1);clearAuto();" onmouseout="setAuto();"></td>
                        <td width="6"></td>
                        <td class='bg' id="t2" onmouseover="Mea(2);clearAuto();" onmouseout="setAuto();"></td>
                        <td width="6"></td>
                    </tr>
                </table>
            </div>
            <div id="conau">
                <div > </div>
                <div style='display: none'></div>
                <div style='display: none'></div>
            </div>
        </div>
    </div>
    <div id="point" style="display: block;position: relative;"></div>
    <script type="text/javascript">
        if ($(window).width() < 1500) {
            $("#focus").attr("style", "width:100%"); // + $(window).width() + "px;");
            $("#au").attr("style", "width:100%;height:464"); //  + $(window).width() + "px;");

            $("#au img").attr("style", "width:100%"); //  + $(window).width() + "px;");
        } else {
            $("#focus").attr("style", "width:1440px;margin:0 auto;");
            $("#au").attr("style", "width:1440px;;height:464");

            $("#au img").attr("style", "width:1440px;");

        }
        var n = 0;
        var sumCount = parseInt("3");
        function Mea(value) {
            n = value;
            setBg(value);
            plays(value);
            conaus(n);
        }
        function setBg(value) {
            for (var i = 0; i < sumCount; i++)
                document.getElementById("t" + i + "").className = "bg";
            document.getElementById("t" + value + "").className = "active";
        }
        function plays(value) {
            try {
                with (au) {
                    //filters[0].Apply();
                    for (i = 0; i < sumCount; i++) i == value ? children[i].style.display = "block" : children[i].style.display = "none";
                    //filters[0].play();
                }
            }
            catch (e) {
                var d = document.getElementById("au").getElementsByTagName("div");
                for (i = 0; i < sumCount; i++) i == value ? d[i].style.display = "block" : d[i].style.display = "none";
            }
        }
        function conaus(value) {
            try {
                with (conau) {

                    for (i = 0; i < sumCount; i++) i == value ? children[i].style.display = "block" : children[i].style.display = "none";

                }
            }
            catch (e) {
                var d = document.getElementById("conau").getElementsByTagName("div");
                for (i = 0; i < sumCount; i++) i == value ? d[i].style.display = "block" : d[i].style.display = "none";
            }

        }
        function clearAuto() { clearInterval(autoStart) }
        function setAuto() { autoStart = setInterval("auto(n)", 4000) }
        function auto() {
            n++;
            if (n > (sumCount - 1)) n = 0;
            Mea(n);
            conaus(n);
        }
        $("#au img").mouseover(function() {
            clearInterval(autoStart)
        });
        $("#au img").mouseout(function() {
            setAuto();
        });
        setAuto();

    </script>
    <!-- banner over-->
    <!--主体内容 开始-->
    <div class="content">
        <!-- 产品滚动图 start-->
        <div id="brand" class="brand mt12">
            <div class="jiao1 fl" style="padding-right:10px;" id="LeftIDhz">
                <a href="javascript:void(0);">
                    <img src="__IMG__/index/jiao1.gif" alt="">
                </a></div>
            <div id="ScollNamehz" style="float: left;">
                <volist name="run_small" id="small">
                    <li><a target="_blank" href="{$small['link']}" title="{$small['title']}"><img src="{:get_cover($small['cover_id'])['path']}" alt="{$small['description']}" title="{$small['title']}" width="145" height="49"/></a></li>
                </volist>
            </div>
            <div class="jiao1 fr" id="RightIDhz"><a href="javascript:void(0);"> <img src="__IMG__/index/jiao2.gif" alt=""></a></div>
        </div>
        <script language="javascript" type="text/javascript">
            var adshz = new ScrollPicleft();
            adshz.scrollContId = "ScollNamehz"; // 内容容器ID""
            adshz.arrLeftId = "LeftIDhz"; //左箭头ID
            adshz.arrRightId = "RightIDhz"; //右箭头ID
            adshz.frameWidth = 910; //显示框宽度
            adshz.pageWidth = 153; //翻页宽度
            adshz.speed = 10; //移动速度(单位毫秒，越小越快)
            adshz.space = 10; //每次移动像素(单位px，越大越快)
            adshz.autoPlay = true; //自动播放
            adshz.autoPlayTime = 10; //自动播放间隔时间(秒)
            adshz.initialize(); //初始化
        </script>
        <!-- 产品滚动图 over-->

        <!-- 产品展示图 start-->
        <div class="brand_show">
            <div class="b_left">
                <div class="bl_header">
                    <a href="javascript:void (0);">{$brandTitle['title']}</a>
                </div>
                <div class="bl_body">
                    <ul>
                        <volist name="brand" id="bd">
                            <li><a href="{:U('brand='.$bd['id'])}">{$bd['title']}</a></li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="b_right">
                <div class="br_header">
                    <a href="javascript:void (0);" style="padding: 0;margin: 0">产品展示图</a>
                </div>
                <div class="br_body">
                    <div class="br_content" style="padding-top: 30px;">
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                        <dl>
                            <dt><a href="#" target="_blank" title=""><img src="__IMG__/index/logo.png"></a></dt>
                            <dd><a href="#" target="_blank" title="">龙腾挖机</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- 产品展示图 over-->

        <!--pic_show start-->
        <div class="pic_show" style="margin-top: 20px;">
            <img src="{:get_cover($advertise1['cover_id'])['path']}" width="100%" height="100%" style="padding: 0;margin: 0;">
        </div>
        <!--pic_show over-->
    </div>
    <!--主体内容 结束-->
    <!--message start-->
    <div class="message_pic" style="background: url('__IMG__/index/message.jpg')no-repeat;height: 1206px;width:100%" >
        <div class="message">
            <volist name="introduce" id="ite" key="k">
                <dl class="msg{$k} msg">
                    <!--<dt>-->
                    <!--<a href="#" target="_blank" title="">这是标题</a>-->
                    <!--</dt>-->
                    <dd>
                        <a href="javascript: void (0);">{$ite['content']}</a>
                    </dd>
                </dl>
            </volist>
        </div>
    </div>
    <!--message over-->
    <!--about start-->
    <div class="about">
        <div class="about_head">
            <p>
                <a href="{:U('article/id='.$about_art['id'])}" title="{$about_art['title']}"><img alt="{$about_art['title']}" title="{$about_art['title']}" src="__IMG__/index/more.gif"></a>
            </p>
            <a href="{:U('article/id='.$about_art['id'])}" target="_blank">{$about_art['title']}</a>
        </div>
        <div class="about_body">
            <div class="about_cont">
                {$about_art['description']}
            </div>
            <div class="about_pic">
                <div class="l_about_pic">
                    <a href="#" title="" target="_blank">
                        <img src="{:get_cover($about_pic_b['cover_id'])['path']}" alt="{$about_pic_b['description']}">
                    </a>
                </div>
                <div class="r_about_pic">
                    <ul>
                        <volist name="about_pic_s" id="ap">
                            <li>
                                <a href="#" target="_blank">
                                    <img src="{:get_cover($ap['cover_id'])['path']}" alt="{$ap['description']}">
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--about over-->
    <!--case start-->
    <div class="case">
        <div class="t_img">
            <a href="#"><img src="__IMG__/index/qq.jpg" alt="" title=""></a>
        </div>
        <div class="c_cont">
            <p>
                <img src="{:get_cover($promise_pic['cover_id'])['path']}" alt=""></p>
            <ul>
                <volist name="promise" id="pe" key="k">
                    <li class="lis0{$k}">{$pe['description']}</li>
                </volist>
            </ul>
        </div>
    </div>
    <!--case over-->
    <!--pic_show start-->
    <div class="pic_show2" style="margin: 20px auto;width: 960px;">
        <img src="{:get_cover($advertise2['cover_id'])['path']}" width="100%" height="100%" style="padding: 0;margin: 0;">
    </div>
    <!--pic_show over-->
    <!--滚动2 start-->
    <div class="clear"></div>
    <div class="run_pic">
        <div class="tit">
            <p>
                <a href="javascript: void (0);" title="{$run_big_t['title']}">
                    <img src="__IMG__/index/more.gif">
                </a>
            </p>
            <span>
            <a href="javascript: void (0);">{$run_big_t['title']}</a>
        </span>
        </div>
        <ul id="ScollNamedls" style="float: left; position: absolute; overflow: hidden;">
            <div style="float: left;overflow: hidden">
                <volist name="run_big" id="big">
                    <li><a target="_blank" href="{$big['link']}" title="{$big['title']}"><img src="{:get_cover($big['cover_id'])['path']}" alt="{$big['description']}" title="{$big['title']}" width="223" height="124"/></a></li>
                </volist>
            </div>
            <div style="float: left; overflow: hidden">
                <volist name="run_big" id="big">
                    <li><a target="_blank" href="{$big['link']}" title="{$big['title']}"><img src="{:get_cover($big['cover_id'])['path']}" alt="{$big['description']}" title="{$big['title']}" width="223" height="124"/></a></li>
                </volist>
            </div>
        </ul>
    </div>
    <script type="text/javascript">
        var adsdls = new ScrollPicleft();
        adsdls.scrollContId = "ScollNamedls"; // 内容容器ID""
        //    adsdls.arrLeftId = "LeftIDdls"; //左箭头ID
        //    adsdls.arrRightId = "RightIDdls"; //右箭头ID
        adsdls.frameWidth = 960; //显示框宽度
        adsdls.pageWidth = 243; //翻页宽度
        adsdls.speed = 10; //移动速度(单位毫秒，越小越快)
        adsdls.space = 10; //每次移动像素(单位px，越大越快)
        adsdls.autoPlay = true; //自动播放
        adsdls.autoPlayTime = 2; //自动播放间隔时间(秒)
        adsdls.initialize(); //初始化
    </script>
    <!--滚动2 over-->
    <!--success start-->
    <div class="trouble">
        <div class="tbe_left">
            <div class="l_tbe_head">
                <p>
                    <a href="#" target="_blank" title="">
                        <img alt="" title="" src="__IMG__/index/more.gif">
                    </a>
                </p>
                <span>
                <a href="{:U('list/case')}" title="{$case_t['title']}" target="_blank">
                    {$case_t['title']}
                </a>
            </span>
            </div>
            <div class="l_tbe_body">
                <volist name="case" id="cs">
                    <dl>
                        <dt>
                            <a href="#" title="" target="_blank">
                                <img src="{:get_cover($cs['cover_id'])['path']}" alt="成功案例" title="成功案例">
                            </a>
                        </dt>
                        <dd>
                            <h4>
                                <a href="#" title="" target="_blank">
                                    成功案例
                                </a>
                            </h4>
                            {$cs['description']}
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>
        <div class="tbe_right">
            <div class="tit">
                <p>
                    <a href="#" target="_blank" title="">
                        <img src="__IMG__/index/more.gif" alt="" title="">
                    </a>
                </p>
                <span>
                    <a href="#" target="_blank" title="">
                        {$problem_t['title']}
                    </a>
                </span>
            </div>
            <div id="ulOrderAnns" style="overflow: hidden; width: 275px; height:365px !important;">
                <table style="border-collapse:collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            <volist name="problem" id="pl">
                                <dl>
                                    <dt><span>问</span><a href="#" target="_blank">{$pl['title']}</a></dt>
                                    <dd>
                                        <span>答</span>{$pl['description']}</dd>
                                </dl>
                            </volist>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        $(function() {
            new Marquee("ulOrderAnns", 0, 1, 275, 365, 20, 0, 1000, 22);
        });
    </script>
    <!--success over-->
    <!--pic_show start-->
    <div class="pic_show3" style="margin: 20px auto;width: 960px;">
        <img src="{:get_cover($advertise3['cover_id'])['path']}" width="100%" height="100%" style="padding: 0;margin: 0;">
    </div>
    <!--pic_show over-->
    <div style="width: 960px;margin: auto">
        <!--动态 start-->
        <div class="dongt">
            <div class="tit">
                <p>
                    <a href="#" title="" target="_blank">
                        <img src="__IMG__/index/more.gif" alt="最新动态" title="最新动态">
                    </a>
                </p>
                <span>
            <a href="{:U('list/new')}" title="最新动态" target="_blank">
                最新动态
            </a>
        </span>
            </div>
            <div class="nr">
                <dl>
                    <dt><a href="{:U('list/new')}" title="" target="_blank">
                        <img src="{:get_cover($new_first['cover_id'])['path']}" alt="最新动态" title="最新动态"></a></dt>
                    <dd>
                        <h4>
                            <a href="{:U('article/new/id='.$new_first['id'])}" title="最新动态" target="_blank">
                                {$new_first['title']}
                            </a>
                        </h4>
                        {$new_first['title']}
                    </dd>
                </dl>
                <ul>
                    <volist name="new" id="nw">
                        <li><span class="fr">
                        <?php echo(date('Y-m-d',$nw['update_time']))?></span><a href="{:U('article/new/id='.$ce['id'])}" title="" target="_blank">
                            {$nw['title']}</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(".dongt li:last").addClass("nones");
        </script>
        <!--动态over-->
        <!--建议 start-->
        <div class="xiad">
            <p>
                <img src="__IMG__/index/logo.png" height="48" alt=""></p>
            <div class="biao">
                <ul id="oran_table_1">
                    <li><span>姓名：</span><input id="txt_name" class="k2" type="text">*</li>
                    <li><span>电话：</span><input id="txt_tel" class="k2" type="text">*</li>
                    <li><span>详细地址：</span><input id="txt_add" class="k2" type="text">*</li>
                    <li><span>邮箱：</span><input id="txt_mail" class="k2" type="text">*</li>
                    <li><span>信息备注：</span><textarea id="txt_information" type="text" class="k3"></textarea>*</li>
                    <li><span>验证码：</span><input id="txt_validate" class="k4" type="text">*<img style="vertical-align: middle;
                cursor: pointer; padding: 0 10px;" src="#" title="点击刷新" alt="点击刷新" onclick="this.src='#'+new Date().getTime()"><a title="点击刷新" href="javascript:void(0);">换一张</a></li>
                </ul>
                <div class="anniu1">
                    <a href="javascript:void(0);" onclick="IndexAddAgentDetail(this)">
                        <img src="__IMG__/index/btn2.gif" alt=""></a><a href="javascript:void(0);" onclick="emptyText('oran_table_1')"><img src="__IMG__/index/btn3.gif" alt=""></a></div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $("#oran_table_1").find("a[title='点击刷新']").click(function() {
                    $(this).siblings("img").attr("src", "/Tools/ValidCodes.aspx?" + new Date().getTime());
                });
            });
        </script>
        <!--建议 over-->
    </div>
    <div class="clear"></div>
    <!--link start-->
    <div class="list2">
        <div class="bis03">
            <div class="aa1">
                <a href="javascript:void(0)" title="">
                    <img src="__IMG__/index/logo.png" alt="" ></a><a href="javascript:void(0)" title=""><img src="__IMG__/index/logo.png" alt=""></a></div>
            <div class="link">
                <a href="#" title="" target="_blank">
                    百度</a>
                <a href="#" title="" target="_blank">
                    美团</a>
                <a href="#" title="" target="_blank">
                    google</a>
                <a href="#" title="" target="_blank">
                    firefox</a>
                <a href="#" title="" target="_blank">
                    xxxx</a>
                <div class="apply">
                    <a href="#" target="_blank" title="">友情链接</a>
                </div>
            </div>
            <div class="aa2">
                <a href="#" title="">
                    <img src="__IMG__/index/logo.png" alt="" ></a><p>
                招商热线<span>40000000</span></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--link over-->
    <!--foot start-->
    <script type="text/javascript" src="__JS__/rollup.min.js"></script>
    <script type="text/javascript" src="__JS__/JQuery-1.3.2.min.js"></script>
    <div id="roll" style="display: block;"><div title="回到顶部" id="roll_top"></div></div>
    <script type="text/javascript">
        $(document).ready(function() {
            //首先将#back-to-top隐藏
            $("#roll").hide();
            //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
            $(function() {
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 350) {
                        $("#roll").fadeIn(600);
                    } else {
                        $("#roll").fadeOut(600);
                    }
                });
                //当点击跳转链接后，回到页面顶部位置
                $("#roll_top").click(function() {
                    $('body,html').animate({
                            scrollTop: 0
                        },
                        800);
                    return false;
                });
            });
        });
    </script>
</block>