
<div class="footers">
    <div class="footer">
        <div class="foot_menu">
            <volist name="nav_foot" id="n_t">
                <a title="{$n_t['title']}" href="{$n_t['url']}">{$n_t['title']}</a>
            </volist>
        <div class="wenz1">
            龙腾挖机 版权所有 备案号：<a href="#" target="_blank">{:C('WEB_SITE_ICP')}</a>
            <script src="#" language="JavaScript"></script>
            <script src="#" charset="utf-8" type="text/javascript"></script>
            <a href="#" target="_blank" title="站长统计"><img src="http://icon.cnzz.com/img/pic1.gif" vspace="0" hspace="0" border="0"></a>
            <!--<script type="text/javascript">-->
            <!--var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
            <!--document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c3510c5f224bff89ae4f8ed00436092' type='text/javascript'%3E%3C/script%3E"));-->
            <!--</script><script src="#" type="text/javascript"></script>-->
            <!--<a href="#" target="_blank">-->
                <!--<img src="http://eiv.baidu.com/hmt/icon/21.gif" height="20" border="0" width="20"></a>-->
            <br>
            地址：<span id="address">{$about['address']}</span>&nbsp;&nbsp;邮箱：<span id="emails">{$about['email']}</span>
            <br>
            联系人：<span id="Fname">{$about['people']}</span>&nbsp;&nbsp;400联系电话：{$about['tel']}&nbsp;&nbsp;手机：<span id="IPhones">{$about['phone']}</span>
            <br>

        </div>
        <div class="ico01">
            <a title="" href="javascript:void(0);">
                <img src="__IMG__/index/img01.gif" alt=""></a></div>
        <div class="ico02">
            <a title="" href="javascript:void(0);">
                <img src="__IMG__/index/img02.gif" alt=""></a></div><div class="footerlink">
            <volist name="link" id="lkf">
                |<a href="{$lkf['link']}" title="{$lkf['title']}">{$lkf['title']}</a>|
            </volist>
    </div>
    </div>
</div>
<html/>
<!--foot over-->
