<!-- header  start-->
<div class="header">
    <div class="top">
        <!-- logo -->
        <div class="logo">
            <a href="{$logo['link']}">
                <img src="{:get_cover($logo['id'])['path']}" width="200" height="100">
            </a>
        </div>
        <!-- 标题 -->
        <div class="title">
                <img src="{:get_cover($title['id'])['path']}" width="400" height="100">
        </div>
        <!-- 其他 -->
        <div class="other">
            <img src="{:get_cover($tel['id'])['path']}" width="200" height="100">
        </div>
    </div>
    <div class="nav">
        <ul>
            <volist name="nav" id="data">
                <li class=""><a title="" href="{$data.name}"><span>{$data.title}</span></a></li>
            </volist>

        </ul>
    </div>
</div>
<!-- header over-->
<div class="clear"></div>
<!-- banner start-->