<extend name="Base/common"/>
<block name="css"><link href="__CSS__/brand.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
    <div class="content">
        <!--brand picture start-->
        <div class="brand_pic">
            <a href="javascript: void (0);"><img src="{:get_cover($banner['cover_id'])['path']}" alt="{$banner['title']}" title="{$banner['title']}" width="960" height="240"></a>
        </div>
        <!--brand picture over-->
        <!--产品分类 start-->
        <div class="left">
            <h4 class="diys">
                {$brandTitle['title']}</h4>
            <div class="list">
                <ul>
                    <volist name="brand" id="bd">
                        <li><a href="{:U('brand/index?id='.$bd['id'])}">{$bd['title']}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="leftbot">
            </div>
            <script type="text/javascript">
                productSelectCurrentPosition("");
            </script>
        </div>
        <div class="right">
            <h4 class="title">
                <div class="tit">
                    <a href="#">测试</a>
                </div>
            </h4>
            <div class="r_list">
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title="">测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title="">测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <div class="clear"></div>
            </div>
        </div>
        <!--产品分类 over-->

        <!--联系我们 start-->
        <div class="call">
            <h4 class="diys">
                联系我们</h4>
            <div class="sycp">
                <div class="sy_con" id="leftlx">
                    <h4>
                        标题
                    </h4>
                    <div class="dianh">
                        <div class="dianhua">
                            全国热线:
                            <span>
                            <b>
                                400044444
                            </b>
                        </span>
                        </div>
                        <p>
                            招商：400044444
                        </p>

                        <p>
                            邮箱：12333344@qq.com
                        </p>
                        <p>
                            联系电话：13333333333
                        </p>
                        <p>
                            邮编：401220</p>
                        <p>
                            地址：重庆市解放碑
                        </p>
                    </div>
                </div>
                <div class="leftbot"></div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="tbe_left">
            <div class="l_tbe_head">
                <p>
                    <a href="#" target="_blank" title="">
                        <img alt="" title="" src="images/more.gif">
                    </a>
                </p>
                <span>
                <a href="#" title="成功案例" target="_blank">
                    成功案例
                </a>
            </span>
            </div>
            <div class="l_tbe_body">
                <volist name="case" id="cs">
                    <dl>
                        <dt>
                            <a href="#" title="" target="_blank">
                                <img src="{:get_cover($cs['cover_id'])['path']}" alt="成功案例" title="成功案例">
                            </a>
                        </dt>
                        <dd>
                            <h4>
                                <a href="#" title="" target="_blank">
                                    成功案例
                                </a>
                            </h4>
                            {$cs['description']}
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>

        <div class="dongt">
            <div class="tit">
                <p>
                    <a href="#" title="" target="_blank">
                        <img src="__IMG__/index/more.gif" alt="最新动态" title="最新动态">
                    </a>
                </p>
                <span>
            <a href="{:U('list/new')}" title="最新动态" target="_blank">
                最新动态
            </a>
        </span>
            </div>
            <div class="nr">
                <dl>
                    <dt><a href="{:U('list/new')}" title="" target="_blank">
                        <img src="{:get_cover($new_first['cover_id'])['path']}" alt="最新动态" title="最新动态"></a></dt>
                    <dd>
                        <h4>
                            <a href="{:U('article/new/id='.$new_first['id'])}" title="最新动态" target="_blank">
                                {$new_first['title']}
                            </a>
                        </h4>
                        {$new_first['title']}
                    </dd>
                </dl>
                <ul>
                    <volist name="new" id="nw">
                        <li><span class="fr">
                        <?php echo(date('Y-m-d',$nw['update_time']))?></span><a href="{:U('article/new/id='.$ce['id'])}" title="" target="_blank">
                            {$nw['title']}</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(".dongt li:last").addClass("nones");
        </script>


    </div>
    <div class="clear"></div>
</block>