<extend name="Base/common"/>
<block name="meta"><title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" /></block>
<block name="css"><link href="__CSS__/brand.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
    <div class="content">
        <!--brand picture start-->
        <div class="brand_pic">
            <a href="javascript: void (0);"><img src="{:get_cover($banner['cover_id'])['path']}" alt="{$banner['title']}" title="{$banner['title']}" width="960" height="240"></a>
        </div>
        <!--brand picture over-->
        <!--产品分类 start-->
        <div class="left">
            <h4 class="diys"><a href="{:U('/'.$qiangxiang_t['name'])}">{$qiangxiang_t['title']}</a></h4>
            <div class="list">
                <ul>
                    <volist name="qiangxiang" id="qx">
                        <li><a href="{:U('/'.$qiangxiang_t['name'].'/'.$qx['id'])}">{$qx['title']}</a></li>
                    </volist>
                </ul>
            </div>
            <h4 class="diys"><a href="{:U('/'.$guzhang_t['name'])}">{$guzhang_t['title']}</a></h4>
            <div class="list">
                <ul>
                    <volist name="guzhang" id="gz">
                        <li><a href="{:U('/'.$guzhang_t['name'].'/'.$gz['id'])}">{$gz['title']}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="leftbot">
            </div>
            <script type="text/javascript">
                productSelectCurrentPosition("");
            </script>
        </div>
        <div class="right">
            <h4 class="title">
                <div class="tit">
                    <a href="{:U('/'.$product_t['name'])}">{$product_t['title']}</a>
                </div>
            </h4>
            <div class="r_list">
                <volist name="product" id="pt">
                    <dl class="">
                        <dt><a href="{:U('/'.$product_t['name'].'/'.$pt['id'])}"><img src="{:get_cover($pt['cover_id'])['path']}" alt="{$pt['title']}"></a></dt>
                        <dd><a href="{:U('/'.$product_t['name'].'/'.$pt['id'])}" title="{$pt['title']}">{$pt['title']}</a></dd>
                    </dl>
                </volist>
                <div class="clear"></div>
            </div>
        </div>
        <!--产品分类 over-->

        <!--联系我们 start-->
        <div class="call">
            <h4 class="diys">
                联系我们</h4>
            <div class="sycp">
                <div class="sy_con" id="leftlx">
                    <div class="dianh" style="padding-top: 40px;">
                        <div class="dianhua">
                            全国热线:
                            <span>
                            <b>
                                {$about['tel']}
                            </b>
                        </span>
                        </div>
                        <p>
                            联系人：{$about['people']}
                        </p>

                        <p>
                            邮箱：{$about['email']}
                        </p>
                        <p>
                            联系电话：{$about['phone']}
                        </p>
                        <p>
                            地址：{$about['address']}
                        </p>
                    </div>
                </div>
                <div class="leftbot"></div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="tbe_left">
            <div class="l_tbe_head">
                <p>
                    <a href="{:U('/'.$case_t['name'])}" target="_blank" title="{$case_t['title']}">
                        <img alt="" title="" src="__IMG__/index/more.gif">
                    </a>
                </p>
                <span>
                <a href="{:U('/'.$case_t['name'])}" title="{$case_t['title']}" target="_blank">
                    {$case_t['title']}
                </a>
            </span>
            </div>
            <div class="l_tbe_body">
                <volist name="case" id="cs">
                    <dl>
                        <dt>
                            <a href="{:U('/'.$case_t['name'].'/'.$cs['id'])}" title="" target="_blank">
                                <img src="{:get_cover($cs['cover_id'])['path']}" alt="{$cs['title']}" title="{$cs['title']}">
                            </a>
                        </dt>
                        <dd>
                            <h4>
                                <a href="{:U('/'.$case_t['name'].'/'.$cs['id'])}" title="{$cs['title']}" target="_blank">
                                    {$cs['title']}
                                </a>
                            </h4>
                            {$cs['description']}
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>

        <div class="dongt">
            <div class="tit">
                <p>
                    <a href="{:U('/'.$new_t['name'])}" title="" target="_blank">
                        <img src="__IMG__/index/more.gif" alt="{$new_t['title']}" title="{$new_t['title']}">
                    </a>
                </p>
                <span>
            <a href="{:U('/'.$new_t['name'])}" title="{$new_t['title']}" target="_blank">
                {$new_t['title']}
            </a>
        </span>
            </div>
            <div class="nr">
                <dl>
                    <dt><a href="{:U('/'.$new_t['name'].'/'.$new_first['id'])}" title="{$new_first['title']}" target="_blank">
                        <img src="{:get_cover($new_first['cover_id'])['path']}" alt="{$new_first['title']}" title="{$new_first['title']}"></a></dt>
                    <dd>
                        <h4>
                            <a href="{:U('/'.$new_t['name'].'/'.$new_first['id'])}" title="{$new_first['title']}" target="_blank">
                                {$new_first['title']}
                            </a>
                        </h4>
                        {$new_first['title']}
                    </dd>
                </dl>
                <ul>
                    <volist name="new" id="nw">
                        <li><span class="fr">
                        <?php echo(date('Y-m-d',$nw['update_time']))?></span><a href="{:U('/'.$new_t['name'].'/'.$nw['id'])}" title="" target="_blank">
                            {$nw['title']}</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(".dongt li:last").addClass("nones");
        </script>


    </div>
    <div class="clear"></div>
</block>