<extend name="Base/common"/>
<block name="css"><link href="__CSS__/brand.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
    <div class="content">
        <!--brand picture start-->
        <div class="brand_pic">
            <a href="#"><img src="images/banner1.jpg" alt="" title="" width="960" height="240"></a>
        </div>
        <!--brand picture over-->
        <!--产品分类 start-->
        <div class="left">
            <h4 class="diys">
                产品分类</h4>
            <div class="list">
                <ul>
                    <li>
                        <a href="http://www.vistart.com.cn/yinxinglipin.shtml">银行礼品</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/Product/Product-0001,0011,0035.shtml">保险公司</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/jifenduihuanlipin.shtml">积分兑换礼品</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/yuangongfuli.shtml">员工福利</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/qiche4Sdian.shtml">汽车4S店</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/qiche4Sdian.shtml">汽车4S店</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/qiche4Sdian.shtml">汽车4S店</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/qiche4Sdian.shtml">汽车4S店</a>
                    </li>
                    <li>
                        <a href="http://www.vistart.com.cn/qiche4Sdian.shtml">汽车4S店</a>
                    </li>
                </ul>
            </div>
            <div class="leftbot">
            </div>
            <script type="text/javascript">
                productSelectCurrentPosition("");
            </script>
        </div>
        <div class="right">
            <h4 class="title">
                <div class="tit">
                    <a href="#">测试</a>
                </div>
            </h4>
            <div class="r_list">
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title="">测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title="">测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <dl class="">
                    <dt><a href="#"><img src="http://www.vistart.com.cn/UploadFiles/Product/20120926172802_68319.jpg" alt=""></a></dt>
                    <dd><a href="#" title=""> 测试</a></dd>
                </dl>
                <div class="clear"></div>
            </div>
        </div>
        <!--产品分类 over-->

        <!--联系我们 start-->
        <div class="call">
            <h4 class="diys">
                联系我们</h4>
            <div class="sycp">
                <div class="sy_con" id="leftlx">
                    <h4>
                        标题
                    </h4>
                    <div class="dianh">
                        <div class="dianhua">
                            全国热线:
                            <span>
                            <b>
                                400044444
                            </b>
                        </span>
                        </div>
                        <p>
                            招商：400044444
                        </p>

                        <p>
                            邮箱：12333344@qq.com
                        </p>
                        <p>
                            联系电话：13333333333
                        </p>
                        <p>
                            邮编：401220</p>
                        <p>
                            地址：重庆市解放碑
                        </p>
                    </div>
                </div>
                <div class="leftbot"></div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="tbe_left">
            <div class="l_tbe_head">
                <p>
                    <a href="#" target="_blank" title="">
                        <img alt="" title="" src="images/more.gif">
                    </a>
                </p>
                <span>
                <a href="#" title="成功案例" target="_blank">
                    成功案例
                </a>
            </span>
            </div>
            <div class="l_tbe_body">
                <dl>
                    <dt><a href="#" title="" target="_blank">
                        <img src="images/logo.png" alt="!" title=""></a></dt>
                    <dd>
                        <h4>
                            <a href="#" title="!" target="_blank">
                                成功修理案例
                            </a>
                        </h4>
                        成功修理案例
                    </dd>
                </dl>
                <dl>
                    <dd style="width: 100%">
                        <h4>
                            <a href="#" title="" target="_blank">
                                成功修理案例2
                            </a>
                        </h4>
                        成功修理案例1成功修理案例1成功修理案例1
                    </dd>
                </dl>
            </div>
        </div>

        <div class="dongt">
            <div class="tit">
                <p>
                    <a href="#" title="" target="_blank">
                        <img src="images/more.gif" alt="" title="">
                    </a>
                </p>
                <span>
            <a href="#" title="" target="_blank">
                最新动态
            </a>
        </span>
            </div>
            <div class="nr">
                <dl>
                    <dt><a href="#" title="" target="_blank">
                        <img src="images/logo.png" alt="" title=""></a></dt>
                    <dd>
                        <h4>
                            <a href="#" title="" target="_blank">
                                动态动态
                            </a>
                        </h4>
                        内容内容
                    </dd>
                </dl>
                <ul>
                    <li><span class="fr">
                        2016-07-15</span><a href="#" title="" target="_blank">
                        标题1</a>
                    </li>
                    <li><span class="fr">
                        2016-07-05</span><a href="#" title="" target="_blank">
                        标题2</a>
                    </li>
                    <li><span class="fr">
                        2016-07-02</span><a href="#" title="" target="_blank">
                        标题23</a>
                    </li>
                    <li><span class="fr">
                        2016-07-01</span><a href="#" title="" target="_blank">
                        标题4</a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(".dongt li:last").addClass("nones");
        </script>


    </div>
    <div class="clear"></div>
</block>