<extend name="Base/common"/>
<block name="meta"><title>{$info['title']}</title>
<meta name="keywords" content="{$info['keywords']}" />
<meta name="description" content="{$info['description']}" /></block>
<block name="css"><link href="__CSS__/index.css" rel="stylesheet" type="text/css" /></block>
<block name="css"><link href="__CSS__/article.css" rel="stylesheet" type="text/css" /></block>
<block name="body">

<div class="content">
    <div class="list_pic">
        <a href="#"><img src="images/banner1.jpg" alt="" title="" width="960" height="240"></a>
    </div>
    <div class="plc2">
        当前位置：<a href="/">首页</a> » <a href="#">一级</a> » <a href="#">二级</a> » <a href="#">三级</a>
    </div>
    <div class="l_list">
        <div class="right_top">
        </div>
        <div class="right_main">
            <dl>
                <dd>{$info['title']}</dd>
                <dt>
                    {$info['content']}
                </dt>
            </dl>
            <div class="page">
                <?php if(isset($prev['id']) && !empty($prev['id'])):?>
                <a href="{:U('detail?id='.$prev['id'])}" style="float: left">上一篇：{$prev['title']}</a>
                <?php else:?>
                <a style="float: left">上一篇：没有了</a>
                <?php endif;?>

                <?php if(isset($next['id']) && !empty($next['id'])):?>
                <a href="{:U('detail?id='.$next['id'])}" style="float: right">下一篇：{$next['title']}</a>
                <?php else:?>
                <a style="float: right">下一篇：没有了</a>
                <?php endif;?>
            </div>
            <div class="keywordMessage" style="border-bottom: 1px solid #ddd;">
                <p style="font-size: 16px;font-weight: bold;line-height: 30px;">此文关键字：
                    <span style="text-align: center;display: -moz-box;font-size: 14px;">
                          <volist name="keywords" id="ks">
                    <a href="{:U('lists?key='.$ks)}" style="padding-right: 20px;display: table;overflow: hidden;float: right">{$ks}</a>
                    </volist>
                    </span>

                </p>
            </div>
            <div class="tj" style="padding-top: 20px;">
                <div class="title">推荐产品</div>
                <div class="cont">
                    <div class="cont_list">
                        <a href="#" title="" target="">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_bot">
        </div>
    </div>
    <div class="r_list">
        <h4 class="tit">
            <a href="{:U('/zixun')}">最新资讯文章</a></h4>
        <ul class="cont" id="cntrLastArticle">
            <volist name="new" id="nw">
                <li>
                    <?php $cate_id = $nw['category_id'];?>
                    <a href="{:U('/'.$category_id[$cate_id].'/'.$nw['id'])}" target="">{$nw['title']}</a>
                </li>
            </volist>
        </ul>
        <div class="right2bot">
        </div>
    </div>
    <div class="call">
        <h4 class="diys">
            联系我们</h4>
        <div class="sycp">
            <div class="sy_con" id="leftlx">
                <div class="dianh" style="padding-top: 40px;">
                    <div class="dianhua">
                        全国热线:
                        <span>
                            <b>
                                {$about['tel']}
                            </b>
                        </span>
                    </div>
                    <p>
                        联系人：{$about['people']}
                    </p>

                    <p>
                        邮箱：{$about['email']}
                    </p>
                    <p>
                        联系电话：{$about['phone']}
                    </p>
                    <p>
                        地址：{$about['address']}
                    </p>
                </div>
            </div>
            <div class="leftbot"></div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear"></div>
</block>