<extend name="Base/common"/>
<block name="css"><link href="__CSS__/article.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
<div class="header">
    <div class="top">
        <!-- logo -->
        <div class="logo">
            <a href="#">
                <img src="images/logo.png">
            </a>
        </div>
        <!-- 标题 -->
        <div class="title">
            <img src="images/title.png">
        </div>
        <!-- 其他 -->
        <div class="other">
            <ul>
                <li>
                    联系方式：13888888888
                </li>
            </ul>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li class="cur"><a title="" href="/"><span>挖机维修</span></a></li>
            <li class=""><a title="" href="#"><span>挖机检查</span></a></li>
            <li class=""><a title="" href="#"><span>文章</span></a></li>
            <li class=""><a title="" href="#"><span>关于我们</span></a></li>
            <li class=""><a title="" href="#"><span>什么什么</span></a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="content">
    <div class="list_pic">
        <a href="#"><img src="images/banner1.jpg" alt="" title="" width="960" height="240"></a>
    </div>
    <div class="plc2">
        当前位置：<a href="/">首页</a> » <a href="#">一级</a> » <a href="#">二级</a> » <a href="#">三级</a>
    </div>
    <div class="l_list">
        <div class="right_top">
        </div>
        <div class="right_main">
            <dl>
                <dd>标题</dd>
                <dt>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容<br/>
                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                </dt>
            </dl>
            <div class="page">
                <a href="#" style="float: left">上一篇</a>
                <a href="#" style="float: right">下一篇</a>
            </div>
            <div class="tj" style="padding-top: 20px;">
                <div class="title">推荐产品</div>
                <div class="cont">
                    <div class="cont_list">
                        <a href="#" title="" target="_blank">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="_blank">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="_blank">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                    <div class="cont_list">
                        <a href="#" title="" target="_blank">
                            <img src="images/logo.png">
                        </a>
                        <p><a href="#">标题</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_bot">
        </div>
    </div>
    <div class="r_list">
        <h4 class="tit">
            <a href="#">最新资讯文章</a></h4>
        <ul class="cont" id="cntrLastArticle">
            <li>
                <a href="#" target="_blank">11111111111</a>
            </li>
            <li>
                <a href="#" target="_blank">222222</a>
            </li>
            <li>
                <a href="#" target="_blank">3333333333333333</a>
            </li>
            <li>
                <a href="#" target="_blank">3333333333333333</a>
            </li>
            <li>
                <a href="#" target="_blank">3333333333333333</a>
            </li>
            <li>
                <a href="#" target="_blank">3333333333333333</a>
            </li>
        </ul>
        <div class="right2bot">
        </div>
    </div>
    <div class="call">
        <h4 class="diys">
            联系我们</h4>
        <div class="sycp">
            <div class="sy_con" id="leftlx">
                <h4>
                    标题
                </h4>
                <div class="dianh">
                    <div class="dianhua">
                        全国热线:
                        <span>
                            <b>
                                400044444
                            </b>
                        </span>
                    </div>
                    <p>
                        招商：400044444
                    </p>

                    <p>
                        邮箱：12333344@qq.com
                    </p>
                    <p>
                        联系电话：13333333333
                    </p>
                    <p>
                        邮编：401220</p>
                    <p>
                        地址：重庆市解放碑
                    </p>
                </div>
            </div>
            <div class="leftbot"></div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear"></div>
</block>