<extend name="Base/common"/>
<block name="meta"><title>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" /></block>
<block name="css"><link href="__CSS__/list.css" rel="stylesheet" type="text/css" /></block>
<block name="body">
    <div class="content">
        <div class="list_pic">
            <a href="#"><img src="images/banner1.jpg" alt="" title="" width="960" height="240"></a>
        </div>
        <div class="plc2">
            当前位置：<a href="/">首页</a> » <a href="#">一级</a> » <a href="#">二级</a> » <a href="#">三级</a>
        </div>
        <div class="l_list">
            <h4 class="tit">
                <a href="#">最新资讯文章</a></h4>
            <ul class="cont" id="cntrLastArticle">
                <volist name="new" id="nw">
                    <li>
                        <a href="{:U('detail?id='.$nw['id'])}" target="_blank">{$nw['title']}</a>
                    </li>
                </volist>
            </ul>
            <div class="right2bot">
            </div>
        </div>
        <div class="r_list">
            <div class="right_top">
            </div>
            <div class="right_main">
                <volist name="list" id="lt">
                    <dl>
                        <dd><a href="{:U('detail?id='.$lt['id'])}" target="_blank">{$lt['title']}</a></dd>
                        <dt>{$lt['description']}</dt>
                    </dl>
                </volist>

                <span class="pull-right">
                    共<p>{$total}</p>条新闻
                    <if condition="($page eq 1) and ($pageNum gt 1)">
                        <a>首页</a>
                        <a>上一页</a>
                        <a href="{:U('?page='.$next)}"><p>下一页</p></a>
                        <a href="{:U('?page='.$last)}"><p>尾页</p></a>
                        <elseif condition="($page egt 1) and ($page neq $pageNum) and ($pageNum gt 0)"/>
                        <a href="{:U('?page='.$first)}"><p>首页</p></a>
                        <a href="{:U('?page='.$prev)}"><p>上一页</p></a>
                        <a href="{:U('?page='.$next)}"><p>下一页</p></a>
                        <a href="{:U('?page='.$last)}"><p>尾页</p></a>
                        <elseif condition="($page eq $pageNum) and ($page neq 1) and ($pageNum gt 1)"/>
                        <a href="{:U('?page='.$first)}"><p>首页</p></a>
                        <a href="{:U('?page='.$prev)}"><p>上一页</p></a>
                        <a>下一页</a>
                        <a>尾页</a>
                        <elseif  condition="$page eq $pageNum"/>
                        <a>首页</a>
                        <a>上一页</a>
                        <a>下一页</a>
                        <a>尾页</a>
                    </if>
                    页次：<p>{$page}</p>/<p>{$pageNum}</p>
				</span>
            </div>
            <div class="right_bot">
            </div>
        </div>

        <div class="call">
            <h4 class="diys">
                联系我们</h4>
            <div class="sycp">
                <div class="sy_con" id="leftlx">
                    <div class="dianh" style="padding-top: 40px;">
                        <div class="dianhua">
                            全国热线:
                            <span>
                            <b>
                                {$about['tel']}
                            </b>
                        </span>
                        </div>
                        <p>
                            联系人：{$about['people']}
                        </p>

                        <p>
                            邮箱：{$about['email']}
                        </p>
                        <p>
                            联系电话：{$about['phone']}
                        </p>
                        <p>
                            地址：{$about['address']}
                        </p>
                    </div>
                </div>
                <div class="leftbot"></div>
            </div>
            <div class="clear">
            </div>
        </div>


    </div>
    <div class="clear"></div>
</block>